#card {
    width: 50rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

.link-midias{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.mail-container, .telefone-container, .razao-emp, .fantasia-emp{
  margin-bottom: 8px;
}
.mail-container{
  display: flex;
  align-items: center;
  
  margin-bottom: 10px;
}
.mail-container, .telefone-container {
  display: flex;
  align-items: center;
  text-decoration: none; 
}


.link-contato:hover {
  text-decoration: underline;
}
.mail-container span, .telefone-container span{
  margin-right: 5px;
  color: rgb(28, 25, 25);
}
.telefone-container{
  display: flex;
  align-items: center;
}
.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: rgb(255, 135, 65);
    background: linear-gradient(
      250deg,
      rgba(255, 135, 65, 1) 15%,
      rgba(255, 65, 65, 1) 65%
    );
  }
  
  
 .delete-button:hover span.material-symbols-outlined {
    transform: scale(1.2); 
    transition-duration: .3s;
  }
  button.delete-button span.material-symbols-outlined {
    transition: transform 0.3s; /* Adicionado transição para o ícone de delete */
  }
  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  
    background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  }
  
  .edit-button:hover span.material-symbols-outlined {
    transform: scale(1.2); 
    transition-duration: .3s;
  }
  button.edit-button span.material-symbols-outlined {
    transition: transform 0.3s; /* Adicionado transição para o ícone de delete */
  }

  .buttons-editdel{
    width: 100px;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

   .button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }
  
   .button:hover {
    background-color: #0056b3;
  }
  
   .status-button {
    margin-top: 15px;
    padding: 10px;
    font-size: 12pt;
    font-weight: 500;
  
  }
  .logo-emp{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 40px;
  }